// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// _custom.scss
.zi-n1 {
	z-index: -1 !important;
}
.mb-n7 {
	margin-bottom: -3rem !important;
}
.ms-n7 {
	margin-left: -3rem !important;
}
